{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "space-in-parens": [0, "always"],
    "object-curly-spacing": [2, "always"],
    "no-multiple-empty-lines": [2, {
      "max": 1,
      "maxEOF": 0,
      "maxBOF": 0
    }],
    "quotes": [1, "single", "avoid-escape"],
    "semi": [2, "always"],
    "prefer-const": 1,
    "react/jsx-indent": [2, 2],
    "react/prop-types": [2],
    "react/no-array-index-key": [1],
    "no-undef": [1],
    "no-case-declarations": [1],
    "no-return-assign": [1],
    "no-param-reassign": [1],
    "no-shadow": [1],
    "camelcase": [1],
    "no-underscore-dangle": [0, "always"]
  },
  "globals": {
    "document": true,
    "process": true,
    "module": true,
    "localStorage": true,
    "Promise": true,
    "btoa": true,
    "atob": true,
    "window": true,
    "setTimeout": true,
    "FileReader": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
