.search {
  margin-top: 84px;
  position: relative;

  &-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 691px;

    &::after {
      background-color: var(--sandy);
      background-image: url('../../assets/icons/ic-search.svg');
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0 3px 3px 0;
      content: '';
      height: 72px;
      position: absolute;
      right: 0;
      top: 0;
      width: 118px;
    }

    &__placeholder,
    &__single-value {
      color: #b8b8b8 !important;
      font-size: 1.375rem;
      font-weight: 500 !important;
    }

    &__menu {
      border-radius: 0 0 3px 3px !important;
      margin-top: 0 !important;

      &-list {
        min-height: 72px;
      }

      &-notice {
        &--no-options {
          margin-top: 10px;
        }
      }
    }

    &__option {
      color: #a7a7a7 !important;
      font-size: 1.250rem;
      font-weight: bold;
      text-align: left;
    }

    &__control {
      background-color: #f7f7f7 !important;
      border: none;
      border-color: transparent !important;
      border-radius: 3px !important;
      box-shadow: none !important;

      &--menu-is-open {
        border-radius: 3px 3px 0 0 !important;
      }

      input {
        background-color: #f7f7f7;
        height: 58px;
        width: 100%;
      }
    }
  }
}
